      <header id="header" role="banner">
        <div class="container">
          <nav class="nav-lang">
            <ul>
              <li><a href="/de" class="{{#is language 'de'}}is-active{{/is}}">DE</a></li>
              <li><a href="/en" class="{{#is language 'en'}}is-active{{/is}}">EN</a></li>
              <!--li><a href="/fr" class="{{#is language 'fr'}}is-active{{/is}}">FR</a></li-->
            </ul>
          </nav>
          <a class="logo" href="index.html"><img alt="hitobito" src="{{path}}/images/logo.svg" /></a>
          <p>{{#i18n "header-tagline"}}{{/i18n}}</p>
        </div>
        <div class="ribbon-container">
          <div class="ribbon">
              <a href="https://github.com/hitobito/hitobito">Fork me on GitHub</a>
          </div>
        </div>
      </header>
      <main id="main" role="main">
        <section id="hero">
          <div class="container">
            <h1 class="hero-title">
              {{#i18n "hero-title"}}{{/i18n}}
            </h1>
            <img alt="{{#i18n "hero-illus-alt"}}{{/i18n}}" class="hero-illus" src="{{path}}/images/hero.png" />
          </div>
        </section>
        <section id="features">
          <div class="container">
            <h2>{{#i18n "features-title"}}{{/i18n}}</h2>
            <ul class="features-list">
              <li class="features-item break-small">
                <img alt="{{#i18n "feature-manage"}}{{/i18n}}" src="{{path}}/images/feature-manage.svg" />
                <p>
                  {{#i18n "feature-manage"}}{{/i18n}}
                </p>
              </li>
              <li class="features-item">
                <img alt="{{#i18n "feature-course"}}{{/i18n}}" src="{{path}}/images/feature-course.svg" />
                <p>
                  {{#i18n "feature-course"}}{{/i18n}}
                </p>
              </li>
              <li class="features-item break-small">
                <img alt="{{#i18n "feature-event"}}{{/i18n}}" src="{{path}}/images/feature-event.svg" />
                <p>
                  {{#i18n "feature-event"}}{{/i18n}}
                </p>
              </li>
              <li class="features-item break-medium">
                <img alt="{{#i18n "feature-mail"}}{{/i18n}}" src="{{path}}/images/feature-mail.svg" />
                <p>
                  {{#i18n "feature-mail"}}{{/i18n}}
                </p>
              </li>
              <li class="features-item break-small">
                <img alt="{{#i18n "feature-data"}}{{/i18n}}" src="{{path}}/images/feature-data.svg" />
                <p>
                  {{#i18n "feature-data"}}{{/i18n}}
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section id="description">
          <div class="container">
            <h2 class="is-subtitle">
              {{#i18n "desc-title"}}{{/i18n}}
            </h2>
            <div class="desc-slider">
              <ul class="rslides">
                <li>
                  <h3 class="h2">{{#i18n "desc-slide1-title"}}{{/i18n}}</h3>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide1-img1-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide1-txt1"}}{{/i18n}}
                    </figcaption>
                  </figure>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide1-img2-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide1-txt2"}}{{/i18n}}
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <h3 class="h2">{{#i18n "desc-slide2-title"}}{{/i18n}}</h3>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide2-img1-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide2-txt1"}}{{/i18n}}
                    </figcaption>
                  </figure>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide2-img2-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide2-txt2"}}{{/i18n}}
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <h3 class="h2">{{#i18n "desc-slide3-title"}}{{/i18n}}</h3>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide1-img1-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide1-txt1"}}{{/i18n}}
                    </figcaption>
                  </figure>
                  <figure class="desc-figure">
                    <img alt="{{#i18n "desc-slide3-img2-alt"}}{{/i18n}}" src="{{path}}/images/slide01.png" />
                    <figcaption>
                      {{#i18n "desc-slide3-txt2"}}{{/i18n}}
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
            <p class="desc-txt">{{#i18n "desc-txt"}}{{/i18n}}</p>
          </div>
        </section>
        <section id="services">
          <div class="container">
            <div class="info-text">
              <h2>
                {{#i18n "services-title"}}{{/i18n}}
              </h2>
              <ul class="services-list">
                <li>{{#i18n "service-custom"}}{{/i18n}}</li>
                <li>{{#i18n "service-enhance"}}{{/i18n}}</li>
                <li>{{#i18n "service-support"}}{{/i18n}}</li>
                <li>{{#i18n "sercice-community"}}{{/i18n}}</li>
              </ul>
            </div>
            <div class="info-who">
              <img src="" alt="">PUZZLE LOGO
            </div>
          </div>
        </section>
        <section id="demo">
          <div class="container">
            <img alt="Try it now!" class="demo-man" src="{{path}}/images/demo-man.svg" />
            <div class="demo-calltoaction">
              <h2>
                {{#i18n "demo-title"}}{{/i18n}}
              </h2>
              <form action="http://demo.hitobito.ch/de/users/sign_in" method="get">
                <ul class="demo-list">
                  <li>
                    <input type="radio" name="person[email]" value="admin@hitobito.ch" id="demo-role-admin" checked>
                    <label for="demo-role-admin">{{#i18n "demo-role-admin"}}{{/i18n}}</label>
                  </li>
                  <li>
                    <input type="radio" name="person[email]" value="mitglied@hitobito.ch" id="demo-role-member">
                    <label for="demo-role-member">{{#i18n "demo-role-member"}}{{/i18n}}</label>
                  </li>
                </ul>
                <a class="demo-btn" href="http://demo.hitobito.ch/" target="_blank">
                  <h2>{{#i18n "demo-btn-title"}}{{/i18n}}</h2>
                  <span>{{#i18n "demo-btn-subtitle"}}{{/i18n}}</span>
                </a>
                <button type="submit">Login</button>
              </form>
            </div>
          </div>
        </section>
        <section id="open">
          <div class="container">
            <div class="info-text">
              <h2>
                {{#i18n "open-title"}}{{/i18n}}
              </h2>
              <p>
                {{#i18n "open-txt1"}}{{/i18n}}
              </p>
              <p>
                <a class="info-source-link" href="https://github.com/hitobito/hitobito" target="_blank"><img alt="GitHub" class="info-source-img" src="{{path}}/images/logo-github.svg" />https://github.com/hitobito/hitobito</a>
              </p>
              <h2>
                {{#i18n "open-community"}}{{/i18n}}
              </h2>
              <p>
                {{#i18n "open-txt2"}}{{/i18n}}
              </p>
            </div>
            <div class="info-contact">
              <a href="mailto:kunz@puzzle.ch"><img alt="{{#i18n "open-more-infos"}}{{/i18n}}" src="{{path}}/images/info-contact.svg" /></a>
              <p>
                {{#i18n "open-contact"}}{{/i18n}}
              </p>
              <a class="btn btn-purple" href="mailto:kunz@puzzle.ch">André Kunz</a>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer" role="contentinfo">
        <section id="partner">
          <div class="container">
            <h2 class="partner-title">
              {{#i18n "partner-title"}}{{/i18n}}
            </h2>
            <ul class="partner-list">
              <li class="partner-item">
                <a class="partner-item-img" href="http://www.jubla.ch/" tab-index="-1"><img alt="{{#i18n "partner-jubla-title"}}{{/i18n}}" src="{{path}}/images/logo-jubla.svg" /></a>
                <h3 class="partner-item-text">
                  <a href="http://www.jubla.ch/">{{#i18n "partner-jubla-title"}}{{/i18n}}<br /><small>{{#i18n "partner-jubla-txt"}}{{/i18n}}</small></a>
                </h3>
              </li>
              <li class="partner-item is-last">
                <a class="partner-item-img" href="http://www.cevi.ch/" tab-index="-1"><img alt="{{#i18n "partner-cevi-title"}}{{/i18n}}" src="{{path}}/images/logo-cevi.svg" /></a>
                <h3 class="partner-item-text">
                  <a href="http://www.cevi.ch/">{{#i18n "partner-cevi-title"}}{{/i18n}}<br /><small>{{#i18n "partner-jubla-txt"}}{{/i18n}}</small></a>
                </h3>
              </li>
              <li class="partner-item">
                <a class="partner-item-img" href="http://www.pbs.ch/" tab-index="-1"><img alt="{{#i18n "partner-pfadi-title"}}{{/i18n}}" src="{{path}}/images/logo-pbs.svg" /></a>
                <h3 class="partner-item-text">
                  <a href="http://www.pbs.ch/">{{#i18n "partner-pfadi-title"}}{{/i18n}}<br /><small>{{#i18n "partner-pfadi-txt"}}{{/i18n}}</small></a>
                </h3>
              </li>
              <li class="partner-item is-last">
                <a class="partner-item-img" href="http://www.insieme.ch/" tab-index="-1"><img alt="{{#i18n "partner-insieme-title"}}{{/i18n}}" src="{{path}}/images/logo_insieme.svg" /></a>
                <h3 class="partner-item-text">
                  <a href="http://www.insieme.ch/">{{#i18n "partner-insieme-title"}}{{/i18n}}<br /><small>{{#i18n "partner-insieme-txt"}}{{/i18n}}</small></a>
                </h3>
              </li>
            </ul>
          </div>
        </section>
        <section id="legal">
          <p>
            {{#i18n "footer-copy"}}{{/i18n}}
          </p>
        </section>
      </footer>